LICENSE
README.md

.data
traefik.toml
env
venv
base
dev.py
manage.py

__pycache__
*.pyc

.git
.gitignore
.gitlab-ci.yml

.idea

.dockerignore
docker-compose.yml
Makefile
Dockerfile

web/static/js/*.*.js

node_modules
package-lock.json
npm-debug.log
