
body {
    background-color: #303030;
}

form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basedark {
    background-color: #303030;
    color: #bbbbbb;
}

.baselight {
    background-color: #bbbbbb;
    color: #cccccc;
}

.impinfo {
    color: #ff0000;
}

navbar {
    border: #aa0000;
}

.well {
    background-color: #505050;
}
