{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'form.html' import make_form %}

<!DOCTYPE html>
<html lang="en">
{% block header %}
    <head>
        {% block title %}
            <title>Website</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
{% endblock %}

<body>
<nav class="navbar navbar-expand-sm navbar-inverse" id="top-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="url_for('index')" id="index-nav">Website</a>
        {% block navbarleft %}
            <ul lcass="nav navbar-nav mr-auto">
                {# {{ render_nav_item('blueprint.view', 'title', use_li=True) }} #}
            </ul>
        {% endblock navbarleft %}
        {% block navbarright %}
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="navbar-brand">{{ current_user.name }}</a>
                    </li>
                    <li id="logout-nav">
                        <a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>
</nav>
<br>

<main role="main">
    <div class="container-fluid">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>

{% block scripts %}
{{ bootstrap.load_js() }}
<script src="url_for('static', filename='js/utils.js')"></script>
{% endblock scripts %}
</body>
</html>
