
{% extends 'base.html' %}

{#{% block header %}#}
{#    <h1>{% block title %}Log In{% endblock %}</h1>#}
{#{% endblock %}#}
{% block navbar %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1>Register</h1>
                <form method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" required>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Register">
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
{% endblock %}
